In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option('max_colwidth', None)

plt.style.use('fivethirtyeight')
sns.set()
sns.set_context("talk")
%matplotlib inline
pd.set_option('display.max_columns', None)

In [104]:
data_string=r"C:\Users\am513\PS-88-21-DEV\lab\aaronfolder\NHIS2009_clean.dta" 
df_og=pd.read_stata(data_string, convert_missing=True)
df=pd.read_stata(data_string)
df_og;
#df.to_csv("NHIS2009_clean.csv")

In [191]:
df_og["hi_hsb1"]=pd.to_numeric(df_og["hi_hsb1"],errors="coerce")
df_og["hi"]=pd.to_numeric(df_og["hi"],errors="coerce")
df_og["age"]=pd.to_numeric(df_og["age"],errors="coerce")#why did this take so long :(

In [192]:
df_og2=df_og.query("marradult == 1 & perweight != 0")
df_og2;

In [193]:
df2=df.query("marradult == 1 & perweight != 0") #keep if marradult==1 & perweight!=0 
df2;

In [194]:
df_og3=df_og2.groupby("serial").sum().reset_index()[["serial","hi_hsb1"]]

In [195]:
df_og4=df_og2.merge(df_og3,how="left",on="serial")
df_og4;

In [196]:
df_og5=df_og4.drop("hi_hsb1_x",axis=1).rename(columns={"hi_hsb1_y":"hi_hsb"})

In [197]:
df_og5_5=df_og5[["serial","hi_hsb"]].set_index("serial")
df_og5_5;#.dtypes #by serial: egen hi_hsb = mean(hi_hsb1)

In [198]:
df_og6=df_og5.dropna(subset=["hi_hsb","hi"],how="any",axis="rows")
df_og6;

In [199]:
males=[
27076,
32501,
36537,
12722,
5958,
18162,
35909,
34396,
17814,
10369,
37415,
36924,
20036,
19066,
22639,
34048,
35904,
29606,
24936,
34048,
21939,
29126,
29542,
2605,
15837,
35956,
22639,
2605,
21666,
2265,
15837,
]

In [200]:
df_og6["female"]=1

In [201]:
df_og6.loc[df_og6["serial"].isin(males),"female"]=0 #by serial: egen female = total(fml)

In [202]:
df_og6["female"].value_counts()

1    29941
0       31
Name: female, dtype: int64

In [203]:
df_og7=df_og6.query("female == 1").drop("female",axis="columns") #keep if female==1     drop female
df_og7;

In [204]:
df_og7.dtypes

year               float32
inc1               float32
inc2               float32
inc3               float32
inc4               float32
inc5               float32
inc6               float32
inc7               float32
inc8               float32
serial               int32
hhweight             int32
pernum                int8
perweight          float64
sampweight         float64
age                float64
marstat           category
sex               category
famsize           category
relate            category
racenew           category
educ              category
educrec1          category
empstat           category
incfam07on        category
health            category
uninsured         category
age2               float32
fml                float32
nwhite             float32
hi                 float32
yedu                object
empl               float32
hlth               float32
inc                float32
incmp              float32
brooks             float32
marradult          float32
marradult_empl     float32
adltempl           float32
hi_hsb             float64
dtype: object

In [205]:
df_og7.query("age>=26 & age<=59 & marradult==1 & adltempl>=1")

,year,inc1,inc2,inc3,inc4,inc5,inc6,inc7,inc8,serial,hhweight,pernum,perweight,sampweight,age,marstat,sex,famsize,relate,racenew,educ,educrec1,empstat,incfam07on,health,uninsured,age2,fml,nwhite,hi,yedu,empl,hlth,inc,incmp,brooks,marradult,marradult_empl,adltempl,hi_hsb
0,2009.0,19282.931641,41679.34375,61102.972656,85985.78125,167844.53125,25398.326172,109725.273438,70834.640625,3,7871,1,8938.0,22029.0,29.0,Married,Female,4 people,Householder,White,"Some college, no degree",1 to 3 years of college,Not in labor force,"$0 - $34,999",Very Good,Not covered,841.0,1.0,0.0,0.0,14,0.0,4.0,19282.931641,17500.0,1.0,1.0,0.0,1.0,0.0
1,2009.0,19282.931641,41679.34375,61102.972656,85985.78125,167844.53125,25398.326172,109725.273438,70834.640625,3,7871,4,8967.0,0.0,35.0,Married,Male,4 people,Spouse,White,Grade 11,Grade 11,Working for pay at job/business,"$0 - $34,999",Very Good,Not covered,1225.0,0.0,0.0,0.0,11,1.0,4.0,19282.931641,17500.0,1.0,1.0,1.0,1.0,0.0
2,2009.0,19282.931641,41679.34375,61102.972656,85985.78125,167844.53125,25398.326172,109725.273438,70834.640625,5,7871,1,8905.0,0.0,32.0,Married,Male,4 people,Householder,White,High school graduate,Grade 12,Working for pay at job/business,"$100,000 and over",Good,Covered,1024.0,0.0,0.0,1.0,12,1.0,3.0,167844.531250,150000.0,1.0,1.0,1.0,2.0,1.0
3,2009.0,19282.931641,41679.34375,61102.972656,85985.78125,167844.53125,25398.326172,109725.273438,70834.640625,5,7871,2,8889.0,22190.0,34.0,Married,Female,4 people,Spouse,White,"Bachelor's degree (BA, AB, BS, BBA)",4 years of college/Bachelor's degree,Working for pay at job/business,"$100,000 and over",Good,Covered,1156.0,1.0,0.0,1.0,16,1.0,3.0,167844.531250,150000.0,1.0,1.0,1.0,2.0,1.0
7,2009.0,19282.931641,41679.34375,61102.972656,85985.78125,167844.53125,25398.326172,109725.273438,70834.640625,7,7871,2,8558.0,0.0,59.0,Married,Female,2 people,Spouse,White,GED or equivalent,Grade 12,Working for pay at job/business,"$35,000 - $49,999",Fair,Covered,3481.0,1.0,0.0,1.0,12,1.0,2.0,41679.343750,42500.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29960,2009.0,19282.931641,41679.34375,61102.972656,85985.78125,167844.53125,25398.326172,109725.273438,70834.640625,41164,928,1,1860.0,0.0,29.0,Married,Male,3 people,Householder,Black/African American,AA degree: technical/vocational/occupational,1 to 3 years of college,Working for pay at job/business,"$0 - $34,999",Excellent,Not covered,841.0,0.0,1.0,0.0,14,1.0,5.0,19282.931641,17500.0,1.0,1.0,1.0,2.0,0.0
29961,2009.0,19282.931641,41679.34375,61102.972656,85985.78125,167844.53125,25398.326172,109725.273438,70834.640625,41164,928,2,1499.0,0.0,28.0,Married,Female,3 people,Spouse,Black/African American,AA degree: technical/vocational/occupational,1 to 3 years of college,Working for pay at job/business,"$0 - $34,999",Good,Not covered,784.0,1.0,1.0,0.0,14,1.0,3.0,19282.931641,17500.0,1.0,1.0,1.0,2.0,0.0
29966,2009.0,19282.931641,41679.34375,61102.972656,85985.78125,167844.53125,25398.326172,109725.273438,70834.640625,41173,2220,1,2654.0,0.0,57.0,Married,Male,2 people,Householder,White,High school graduate,Grade 12,Working for pay at job/business,"$100,000 and over",Very Good,Covered,3249.0,0.0,0.0,1.0,12,1.0,4.0,167844.531250,150000.0,1.0,1.0,1.0,1.0,1.0
29967,2009.0,19282.931641,41679.34375,61102.972656,85985.78125,167844.53125,25398.326172,109725.273438,70834.640625,41173,2220,2,2496.0,5732.0,57.0,Married,Female,2 people,Spouse,White,High school graduate,Grade 12,Not in labor force,"$100,000 and over",Very Good,Covered,3249.0,1.0,0.0,1.0,12,0.0,4.0,167844.531250,150000.0,1.0,1.0,0.0,1.0,1.0
29971,2009.0,19282.931641,41679.34375,61102.972656,85985.78125,167844.53125,25398.326172,109725.273438,70834.640625,41176,2200,2,2425.0,0.0,49.0,Married,Female,7 people,Householder,White,Grade 9,Grade 9,Working for pay at job/business,"$100,000 and over",Fair,Not covered,2401.0,1.0,0.0,0.0,9,1.0,2.0,167844.531250,150000.0,1.0,1.0,1.0,2.0,0.0

In [207]:
df_og7.groupby("serial").count()

,year,inc1,inc2,inc3,inc4,inc5,inc6,inc7,inc8,hhweight,pernum,perweight,sampweight,age,marstat,sex,famsize,relate,racenew,educ,educrec1,empstat,incfam07on,health,uninsured,age2,fml,nwhite,hi,yedu,empl,hlth,inc,incmp,brooks,marradult,marradult_empl,adltempl,hi_hsb
serial,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
3,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
5,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
6,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
7,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
8,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41166,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
41168,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
41173,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
41175,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
41176,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2