# Lab 5: House Candidate Positioning Graph Recreations

In this lab, we'll be recreating Figure 1 from this paper titled [Candidate Positioning in U.S. Elections](https://www-jstor-org.libproxy.berkeley.edu/stable/2669364?seq=1#metadata_info_tab_contents).

Run the next cell to import the libraries we'll be using to do our analysis

In [11]:
import pandas as pd
import json
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import linregress

## Load Data

For our analysis, we'll be using district-level data on House members in the 106th Congress and their district behavior from the 2000 presidential election. 

We'll begin by loading our file housedata.csv into a pandas dataframe named df.

In [12]:
filename = "housedata.csv"
df = pd.read_csv(filename)
df

,State,Gore,Bush '00,location,first_name,middle_name,last_name,district,votes_with_party_pct,votes_against_party_pct,party,suffix,gender,geoid
0,AK,0.28,0.59,AK1,Don,NaN,Young,1.0,0.92,0.0757,R,NaN,M,200.0
1,AL,0.38,0.60,AL1,Sonny,NaN,Callahan,1.0,0.94,0.0589,R,NaN,NaN,101.0
2,AL,0.38,0.61,AL2,Terry,NaN,Everett,2.0,0.95,0.0486,R,NaN,M,102.0
3,AL,0.47,0.52,AL3,Bob,NaN,Riley,3.0,0.93,0.0718,R,NaN,M,103.0
4,AL,0.37,0.61,AL4,Robert,B.,Aderholt,4.0,0.90,0.0986,R,NaN,M,104.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434,WI,0.43,0.52,WI8,Mark,A.,Green,8.0,0.91,0.0867,R,NaN,M,5508.0
435,WV,0.43,0.54,WV1,Alan,B.,Mollohan,1.0,0.82,0.1774,D,NaN,M,5401.0
436,WV,0.44,0.54,WV2,Robert,E.,Wise,2.0,0.86,0.1372,D,Jr.,M,5402.0
437,WV,0.51,0.47,WV3,Nick,J.,Rahall,3.0,0.86,0.1390,D,II,M,5403.0
438,WY,0.28,0.69,WY1,Barbara,L.,Cubin,1.0,0.94,0.0588,R,NaN,F,5600.0

Since we are mainly interested in the voting patterns of the members and their districts, there are a few columns currently included in df that we can get rid of. 

In the following cell, write some code that drops the following columns: State, suffix, gender, geoid

In [8]:
#Use this cell to drop the specified columns
#...
df.drop(['State', 'suffix', 'gender', 'geoid'], axis=1)

,Gore,Bush '00,location,first_name,middle_name,last_name,district,votes_with_party_pct,votes_against_party_pct,party
0,0.28,0.59,AK1,Don,NaN,Young,1.0,0.92,0.0757,R
1,0.38,0.60,AL1,Sonny,NaN,Callahan,1.0,0.94,0.0589,R
2,0.38,0.61,AL2,Terry,NaN,Everett,2.0,0.95,0.0486,R
3,0.47,0.52,AL3,Bob,NaN,Riley,3.0,0.93,0.0718,R
4,0.37,0.61,AL4,Robert,B.,Aderholt,4.0,0.90,0.0986,R
...,...,...,...,...,...,...,...,...,...,...
434,0.43,0.52,WI8,Mark,A.,Green,8.0,0.91,0.0867,R
435,0.43,0.54,WV1,Alan,B.,Mollohan,1.0,0.82,0.1774,D
436,0.44,0.54,WV2,Robert,E.,Wise,2.0,0.86,0.1372,D
437,0.51,0.47,WV3,Nick,J.,Rahall,3.0,0.86,0.1390,D
438,0.28,0.69,WY1,Barbara,L.,Cubin,1.0,0.94,0.0588,R

## Cleaning Data

In [4]:
#Have students calculate the conservative percentage
#Have students remove all NaN values
#Have students drop columns

## Selecting Data

In [ ]:
#Split the df into two -- one for conservative and one for republican

## Graphing

In [5]:
#Scatterplot

In [ ]:
#Regression lines